/* styles.css */

/* Container style */
.container {
  max-width: 600px;
  margin: 0 auto;
  background: #ccc;
 
  margin-bottom: 50px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
  border: 3px solid green;
}

.designbg{
  width: screen;
  height: 500px;
  background: linear-gradient(to right, #000080,#FFD700 );
}

.half{
  width: screen;
  height: 1000px;
  background: linear-gradient(to right, #FFD700, #000080);
}


/* Dog name style */
h2 {
  font-size: 44px;
  color: #333;
}

/* Dog image style */
img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

/* Dog information style */
p {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
}

/* Owner information style */
.owner-info {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

/* Back button style */
.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .half  {
    height: 0px;
  }
}
